@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Matthew Sperry";
}

@model CalcModel;

<h2>Grade Calculator</h2>
<form action="/" method="post">
    <label>Percent scored (enter a number)</label>
    <br />
    <input id="percentGrade" type="number" asp-for="Pgrade" />
    <asp:RangeValidator ID="percentGradeValidator" runat="server" ControlToValidate="percentGrade" Type="Integer" 
                        MinimumValue="0" MaximumValue="100" ErrorMessage="Percent grade must be between 0 and 100." />
    <br />
    <input class="btn btn-primary" id="calculate" type="button" value="Calculate" name="Calculate" />
    <p id="display"></p>
    <div asp-validation-summary="All"></div>
</form>

<script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
<script src="~/js/site.js"></script>