@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Matthew Sperry";
}

<div class="row mt-5">
    <div class="col-5">
        <h1>Matt Sperry</h1>
        <img height="500" src="Img/St. George trip.jpg" />
    </div>
    <div class="col-7 mt-5">
        <p>I want to continue developing my coding skills and learn things that will be helpful for getting a job. I want to get better at using frameworks and debugging dificult issues.</p>
        <br />
        The Jobs that I would Like to work in are:
        <ol>
            <li>Software Developer</li>
            <li>Data Analyst</li>
            <li>Cyber Security</li>
        </ol>    
    </div>
</div>